nav a {
  color: #6f8b86;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

header svg {
  position: absolute;
  width: 1633.464px;
  height: 989.433px;
  flex-shrink: 0;

  top: -50px;
  left: -500px;
}
