@tailwind base;
@tailwind components;
@tailwind utilities;

html body {
  font-family: "Alata", sans-serif;
  /* font-family: "Space Grotesk", sans-serif; */
  background-color: #f5eee4;
  width: 100vw;
  overflow-y: auto; /* Allow vertical scrolling */
  overflow-x: hidden; /* Hide horizontal overflow */
}
